.Question {
  font-size: 1rem;
  cursor: pointer;
}

.QuestionSingle {
  font-size: 1rem;
  cursor: pointer;
  padding: 0 7rem 0 7rem;
}
h3 {
  text-decoration-style: double;
}

.Ptag {
  font-size: 1.2rem;
  font-style: italic;
}
p {
  text-align: start;
}
.Essay {
  font-weight: bold;
}


.SingleQuestionContainer {
  background-color: rgba(146, 133, 133, 0.702); /* Transparent white background */
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}